@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1: #141E30;
    --grad-clr2: #2C2E33;
}

body {
    height: 100vh;
    width: 100vw;
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    width: 90%;
    height: 75%;
    background: #fff;
    border-radius: 13px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
}

.form-container{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span{
    font-size: 12px;
}

.infield{
    position: relative;
    width: 90%;
    margin: 6px 0;
}

input{
    width: 100%;
    padding: 12px 15px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}

label{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    width: 0;
    height: 2px;
    background: var(--linear-grad);
    transition: 0.3s;
}

input:focus ~ label{
    background: var(--linear-grad);
    width: 100%;
}

a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;

}

a.forgot{
    padding-bottom: 3px;
    border-bottom: 2px solid #eee;
}

button{
    border-radius: 20px;
    border: 1px solid var(--grad-clr1);
    background: var(--grad-clr1);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    cursor: pointer;
    margin: 10px 0;
}

.form-container button{
    margin-top: 17px;
    transition: 80ms ease-in;
}

.form-container button:hover{
    background: #fff;
    color: var(--grad-clr1);
    cursor: pointer;
}

.overlay-container{
    background: var(--linear-grad);
    width: 100%;
    height: 40%;
    transition: transform 0.6s ease-in-out;
}

.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #ffffff;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    padding: 0 25px;
    text-align: center;
    transition: 0.6s ease-in-out;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: .5px;
    margin-top: 15px;
}

@media (max-height: 650px) {
    body{
        overflow: auto;
    }

    .container {
        min-height: 350px;
        height: 95%;
    }

    .form-container {
        height: 100%;

    }

    .overlay-container {
        display: none;
    }
}

/* Tablets (sm) */
@media (min-width: 576px) {
    .container {
        width: 55%;
        height: 75%;
    }
}

/* Tablets (md) */
@media (min-width: 768px) {
    .container {
        width: 45%;
        height: 75%;
    }
}

/* Desktops Pequenos */
@media (min-width: 992px) {
    .container {
        width: 70%;
        height: 60%;
        flex-direction: row;
    }

    .form-container{
        height: 100%;
        width: 100%;
    }

    .overlay-container {
        height: 100%;
        width: 100%;
    }
}

/* Desktops Largos */
@media (min-width: 1200px) {
    .container {
        width: 50%;
        height: 70%;
        flex-direction: row;
    }

    .form-container{
        height: 100%;
        width: 100%;
    }

    .overlay-container {
        height: 100%;
        width: 100%;
    }
}





















